/* font link start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font link end  */

body {
  margin: 0;
  font-family: "Poppins";
}
a {
  text-decoration: none;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* *************
 header styles
************* */
.banner {
  background-color: #2d25a0;
  width: 1349px;
  height: 650px;
}
.header-info {
  display: flex;
  margin: 0px 0px 0 0px;
  justify-content: space-around;
}
.banner-text {
  margin-left: 108px;
}
.banner-text h1 {
  color: #ffffff;
  width: 485px;
  height: 230px;
  font-size: 64px;
  font-weight: 700;
}
.banner-text p.watch-live-button {
  display: flex;
  background-color: #e02c6d;
  color: #ffffff;
  width: 168px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: space-around;
}
.banner-text p.watch-live-button a {
  color: #ffffff;
  margin-right: 0px;
}
.banner-image img {
  width: 556px;
  height: 438px;
}
/* *********************
 header styles end here
 ***********************/

/* *****************
  main styles start
 ***************** */
section.player-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 30px;
  margin: 30px 130px 0px 130px;
  padding: 35px;
}
.blog {
  background-color: #ffffff;
  color: #18191f;
  width: 284px;
  height: 445px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-image img {
  width: 282px;
}

.blog .player-bio p {
  overflow: hidden;
}
/* ****************
 player section end
***************** */

section.highlight-copa-america {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 160px 120px 0px 150px;
}

.watch-now-info {
  width: 469px;
  height: 309px;
}
.watch-now-info h1 {
  font-size: 48px;
  margin: 0;
}
.watch-now-button {
  background-color: #e02c6d;
  width: 173px;
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
p.watch-now-button,
.watch-now-button a {
  color: #ffffff;
}

.watch-now-image img {
  width: 532px;
}

/* copa america section end */

.logo img {
  height: 70px;
}
